.homeHeaderContainer {
  margin: 20px auto 20px;
}

.homeContainer {
  max-width: 45rem;             // 720px
  margin: 0 auto 70px;
  padding: 10px;

  button {
    margin: 64px 0 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--Highlight);
    background: var(--Background);
    border: none;

    &:hover {
      filter: brightness(1.2)
    }
  }
}


.homePostItemList {
  margin-top: 1rem;
  h1 {
    color: var(--Heading);
    font-size: 1.75rem;             // 28px
    font-weight: bold;              // 700
  }

  p {
    margin-top: 8px;
    color: var(--Body);
    font-size: 1.125rem;            // 18px
    font-weight: 400;
  }

  & + section {
    margin-top: 48px;
  }
  
}